= render 'posts/header_top'
%h2= @category.name
.contents
  .content
    %ul.content-lists
      - @category.posts.each do |category_post|
        %li.content-list
          = link_to image_tag(category_post.image.url, class: 'post-image'), post_path(category_post)
          %p.post-title= category_post.title