
<h2><%= @category.name %></h2>

<div class="contents">
  <div class="content">
    <ul class="content-lists">
      <% @category.posts.each do |category_post| %>
        <li class="content-list">
          <%= image_tag(category_post.image.url, class:'post-image') %>
          <p class="post-title"><%=category_post.title %></p>
        </li>
      <% end %>

